/*google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*asterix wildcard selector to override default styles added by the browser*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Header*/
header {
  background-color: rgb(5, 103, 168);
  color: black;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px rgb(252, 173, 4);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/*a decendent of header*/
header a {
  text-decoration: none;
  color: inherit;
}

/*nav bar*/
nav {
  position: absolute;
  left: 0;
  background-color: rgb(5, 103, 168);

  padding: 0 1rem;
  display: none;
  width: 100%;
  box-shadow: 0 2px 2px rgb(252, 173, 4);
  top: 100%;
}

/* nav toggle*/
#nav-toggle:checked~nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

/*main content*/
main {
  background-color: black;
  /*flex to make main element take up all the surplus space*/
  flex: 1 0 auto;
  margin-top: 2.5rem;
}
/* Footer*/
footer {
  #social-network{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 1.2rem 0;
  }

}

/*general styles*/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*generic project styles*/
  color: rgb(5, 103, 168);
  font-family: 'Work Sans', sans-serif;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(252, 173, 4);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu {
  font-size: 140%;
  letter-spacing: 1px;
  list-style-type: none;
}

/*css to target the li elements of menu*/
#menu>li {
  margin-bottom: 1em;
}

/*marking the active page in menu with bottom border*/
.active {
  border-bottom: 1px solid;
}
/*media querry: tablets and larger (768 px up)*/
@media screen and (min-width:768px) {
  /*Header*/
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }
  #menu{
    display: flex;
  }
  #menu > li{
    padding-left: 1rem;
  }
  .nav-toggle-label{
    display: none;
  }
  #logo {
    font-size: 200%;
    line-height: 75px;
    margin: 0 0.5rem;
  }
  /*main content */ 
  main{
    /*push main content down to accomodate larger header*/
    margin-top: 79px;
  }
}
/*media querry:  larger screens (mouse enabled devices) (992 px up)*/
@media screen and (min-width:992px) {
  #menu a:hover{
    border-bottom: 1px solid;
  }
}