/*google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*asterix wildcard selector to override default styles added by the browser*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Header*/
header {
  background-color: rgb(5, 103, 168);
  color: black;
}

/*main content*/
main {
  background-color: black;
  /*flex to make main element take up all the surplus space*/
  flex: 1 0 auto;
}

footer {
  background-color: rgb(5, 103, 168);
  color: black;

}
/*general styles*/ 
body{
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  /*generic project styles*/
  color:  rgb(5, 103, 168);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

/*nav bar*/
nav {
  text-align: center;
  background-color: aqua;
  margin: 0px 0px 0px 0px;
  padding-bottom: 20px;
}

img {
  border: 2px solid black;
  max-width: 60%;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

figure {
  margin-top: 40px;
}